<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}管理后台 - Bench.im{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/app.css">
    {% block head %}{% endblock %}
</head>
<body class="flex flex-col sm:flex-row">
    <header class="w-full flex flex-col shrink-0 z-50 sticky top-0 sm:h-screen sm:border-r sm:border-neutral-500 sm:w-56">
        <div class="flex bg-neutral-800 px-2 py-1.5 items-center">
            <h1 class="font-bold text-2xl text-white"><a href="/">Bench.im</a></h1>
        </div>
    </header>
    <main class="w-full">
        {% block content %}{% endblock %}
    </main>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/admin.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
